# Archivos y directorios que Docker ignorará al construir la imagen

# Ignorar el directorio de módulos de Go
/vendor

# Ignorar archivos binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignorar archivos de configuración locales
.env
.env.local
.env.development*
!.env.production

# Ignorar directorios de prueba
/test
/coverage

# Ignorar archivos de logs y temporales
*.log
*.tmp

# Ignorar el directorio .git
.git
.gitignore

# Ignorar Dockerfile y docker-compose.yml si no se necesita dentro del contenedor
Dockerfile.dev
Dockerfile.test
docker-compose*.yml

# Ignorar documentación y otros archivos que no son necesarios para la ejecución
README.md
LICENSE
/.github
/.idea
*.ps1
*.bat

# Mantener el código fuente y las migraciones
!/cmd/**
!/internal/**
!/pkg/**
!/migrations/**
